---
title: GeWoNN Members
layout: default
---

{% include site-header.html %}

<main class="main  container">

  <div class="content members-grid members-page">

    {% for member in site.data.members %}
    <div class="member">

      <div class="two-columns" style="--left-width: 30%; --right-width: 70%;">
        <div>
          {% if member.image != nil %}
          <img src="{{ member.image }}" alt="{{ member.name }}">
          {% else %}
          <img src="/images/members/missing.jpg" alt="{{ member.name }}">
          {% endif %}
        </div>
        <div>
          <h5 class="member-name">{{ member.name }}</h5>
          {% if member.affiliation != nil %}<p class="member-affiliation">{{ member.affiliation }}</p>{% endif %}
          {% if member.role != nil %}<p class="member-role">{{ member.role }}</p>{% endif %}
        </div>
      </div>
    </div>
    {% endfor %}

  </div>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>

{% include site-footer.html %}
