---
layout: default
---

{% include site-header.html %}

<main class="main  container">

  <div class="content members-grid">

    {% for member in site.data.members %}
    <div class="member">

      <div class="two-columns" style="--left-width: 30%; --right-width: 70%;">
        <div>
          <img src="{{ member.image }}" alt="{{ member.name }}">
        </div>
        <div>
          <h5>{{ member.name }}</h5>
          <p><strong><b>{{ member.role }}</b></strong></strong></p>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>

{% include site-footer.html %}
