---
layout: default
---

{% include site-header.html %}

<main class="main  container">

  <article class="article  article--page  content  typeset">

    {% unless page.hide_title %}<h1>{{ page.title }}</h1><br>{% endunless %}

    {% for item in site.data.navigation.header %}
        {% if item.url == page.url %}
            {% if item.subpages %}
            <ul class="list  list--results">
            {% for subpage in item.subpages %}
                {% assign subpage_page = site.pages | where: "url", subpage.url | first %}
                <li class="item  item--result">
                <article class="article  typeset">
                    <h4><a href="{{ subpage.url }}">{{ subpage.title }}</a></h4>
                    <p>{{ subpage_page.excerpt }}</p>
                </article>
                </li>
            {% endfor %}
            </ul>
            {% endif %}
        {% endif %}
    {% endfor %}

  </article>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>
